{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/create.css' %}">
    <title>Create</title>
</head>
<body>
    <div class="container">
        <h1>Create</h1>
        <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" required accept=".png,.jpeg,.jpg">
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="text" name="address" placeholder="Address" required>
            <input type="text" name="phone_number" placeholder="Phone No." required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Submit</button>
           
            
        </form>
        <div class="right_button">
            <a href="{% url 'index' %}">
                <button type="submit">Back</button>
            </a>
        </div>
    </div>
    
</body>
</html>