{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/create.css' %}">
    <title>Update Form</title>
</head>
<body>
    <div class="container">
        <h1>Create</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name" value={{ student.first_name }} required></input>
            <input type="text" name="last_name" placeholder="Last Name" value={{ student.last_name }} required></input>
            <input type="text" name="address" placeholder="Address" value={{ student.address}} required></input>
            <input type="text" name="phone_number" placeholder="Phone No." value={{ student.phone }} required></input>
            <input type="email" name="email" placeholder="Email" value={{ student.email }} required></input>
            <button type="submit">Submit</button>
        </form>
        <div class="right_button">
            <a href="{% url 'index' %}">
                <button type="submit">Back</button>
            </a>
        </div>  
    </div>
    
</body>
</html>